<?xml version="1.0" encoding="UTF-8"?>
<!-- Context configuration file for my web application -->
<Context docBase="/usr/local/MyApp" privileged="true" antiResourceLocking="false" antiJARLocking="false">
        <Resource name="jdbc/myapp-ds" auth="Container" type="javax.sql.DataSource"
                maxActive="100" maxIdle="30" maxWait="10000" username= "{{USERNAME}}" password= "{{PASSWORD}}"
                driverClassName="com.mysql.jdbc.Driver" url="jdbc:mysql://{{DB_CONNECTOR}}:3306/{{DATABASE}}" />
</Context>